/*
	Author: Connor Taffe
	Date: April 2014
	Dark Themed & Image Oriented
*/

/* Imports Google Fonts CSS for Ubuntu Font */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

/* No default padding/margins for anything */
*{
	margin: 0;
	padding: 0;
}

/* Dark Background color */
html{
	background-color: rgb(40,40,40);
}

/* Set Ubuntu Font as Default font */
body{
	font-family: 'Ubuntu', 'sans-serif';
	
	/* Center & minimum width b/c of abs. pos. menu */
	margin: auto;
	min-width: 1000px;
}

/* useful... */
.page-wrapper{}

/* Link styling, blue colors */
a, a:visited{
	color: #4183C4;
	text-decoration: none;
	transition: all .2s ease;
}
a:hover{
	color: rgb(90, 160, 210);
}

/* Header styling (Logo-ish thing @ top) */
header{
	background-color: rgb(20,20,20);
	color: white;
	padding: 20px;
	border-bottom: 2px solid rgb(60,60,60);
}
header>h1{
	font-weight: 200;
	font-size: 28px;	/* In pixels for accurate height */
}
header>h2{
	font-weight: 100;
	font-size: 14px;
	font-style: italic;	/* Italic styling, coolish */
	margin-top: 10px;
}

/* Article divs styling */
div[role=article]{
	padding: 100px 10%;
}
div[role=article]>h3{
	font-weight: 800;
	font-size: 36px;
	max-width: 750px;
	margin: 10px auto;
	margin-bottom: 40px;
}
div[role=article]>p{
	color: white;
	font-weight: 400;
	background-color: rgba(20,20,20,1);
	border: 5px solid rgb(60,60,60);
	border-radius: 10px;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 750px;
	margin: 10px auto;
	box-shadow: inset 0 0 5px black;
}

/* Background picture for each section */
.summary{
	color: white;
	background: url(./img/long-exposure-photography-fishermen.jpg) no-repeat;
	background-size: cover;
}
.preamble{
	color: white;
	background: url(./img/cityscapes-city-night-photography-long-exposure.jpg) no-repeat;
	background-size: cover;
	border-top: 10px solid rgb(20,20,20);
}

/* Border for all articles in main */
.main>[role=article]{
	/* all sections after the preamble*/
	border-top: 10px solid rgb(20,20,20);
}

/* Background pictures for main sections */
.explanation{
	color: white;
	background: url(./img/SPACE_NEBULA_STARS.jpg) no-repeat;
	background-size: cover;
}

.participation{
	color: white;
	background: url(./img/Screen-shot-2013-08-11-at-1.40.08-AM.png) no-repeat;
	background-size: cover;
}
.benefits{
	color: white;
	background: url(./img/Free-Mountain-Desktop-Backgrounds.jpg) no-repeat;
	background-size: cover;
}
.requirements{
	color: white;
	/*background: url(http://www.mrwallpaper.com/wallpapers/space-stars-road.jpg) no-repeat;
	*/
	background: url(./img/background0172.jpg) no-repeat;
	background-size: cover;
}

/* Footer Styling */
footer{
	background-color: rgb(20,20,20);
	padding: 10px 10px;
	overflow: hidden;
	border-top: 2px solid rgb(60,60,60);
}
footer>a, footer>a:visited{
	color: rgb(150,150,150);
	border-radius: 5px;
	padding: 5px 10px;
	transition: all .2s ease;
}
footer>a:hover{
	color: rgb(200,200,200);
}

/* 
	This is the huge menu section, it does the stuff
	for the menus at the top of the page, much code.
*/

/* Global for menus */
.design-selection, .design-archives, .zen-resources{
	overflow: hidden;
	max-height: 15px;
	width: 180px;
	
	color: rgb(180,180,180);
	position: absolute;
	top: 0px;
	transition: all 0.5s ease;
	
	background-color: rgb(20,20,20);
	padding: 10px;
	padding-top: 30px;
	
	border: 2px solid transparent;
	border-top: none;
	
	border-radius: 0 0 5px 5px;
}
.design-selection h3, .design-archives h3, .zen-resources h3{
	visibility: hidden;
	width: 180px;
}
.design-selection ul, .design-archives ul, .zen-resources ul{
	width: 180px;
	color: rgb(80,80,80);
	list-style-type: none;
}
.design-selection ul>li, .design-archives ul>li, .zen-resources ul>li{
	display: block;
	font-size: 14px;
	/*background-color: rgb(40,40,40);*/
	padding: 5px 10px;
	margin: 5px 0;
}
.design-selection ul>li:hover, .design-archives ul>li:hover, .zen-resources ul>li:hover{
	/*background-color: rgb(50,50,50);*/
}
.design-selection ul>li>a, .design-archives ul>li>a, .zen-resources ul>li>a{
	color: rgb(100,100,100);
	transition: all .2s ease;
}
.design-selection ul>li>a:first-child, .design-archives ul>li>a:first-child, .zen-resources ul>li>a:first-child{
	display: block;
	color: rgb(150,150,150);
}
.design-selection ul>li>a:hover, .design-archives ul>li>a:hover, .zen-resources ul>li>a:hover{
	color: rgb(200,200,200);
}
.design-selection:hover, .design-archives:hover, .zen-resources:hover{
	/*background-color: rgba(20,20,20,0.8);*/
	background-color: rgb(20,20,20);
	border: 2px solid rgb(60,60,60);
	border-top: none;
	box-shadow: 0 0 15px black;
}
.design-selection::before, .design-archives::before, .zen-resources::before{
	
}

/* Independent */
.design-selection::before{
	content: "Design Selection";
}
.design-archives::before{
	content: "Design Archives";
}
.zen-resources::before{
	content: "Zen Resources";
}
.design-selection h3, .design-archives h3, .zen-resources h3{
	padding-top: 20px;
}
.design-selection:hover{
	max-height: 460px;
	/*height: 450px;*/
}
.design-archives:hover{
	max-height: 130px;
	/*height: 125px;*/
}
.zen-resources:hover{
	max-height: 230px;
	/*height: 220px;*/
}
.design-selection{
	right: 20px;
}
.design-archives{
	right: 230px;
}
.zen-resources{
	right: 440px;
}
